@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.fondo1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c327.698C62.841%2c328.021%2c119.871%2c301.41%2c177.285%2c275.861C244.477%2c245.961%2c332.931%2c232.894%2c363.433%2c165.974C393.937%2c99.05%2c346.177%2c23.588%2c324.274%2c-46.623C305.653%2c-106.312%2c277.367%2c-158.887%2c245.336%2c-212.585C206.299%2c-278.029%2c190.861%2c-380.581%2c116.143%2c-395.546C39.399%2c-410.916%2c-6.712%2c-300.661%2c-81.65%2c-278.073C-155.691%2c-255.755%2c-246.504%2c-313.445%2c-308.697%2c-267.488C-370.294%2c-221.972%2c-389.425%2c-131.469%2c-383.37%2c-55.12C-377.71%2c16.249%2c-315.581%2c66.116%2c-277.435%2c126.7C-245.02%2c178.182%2c-225.382%2c238.349%2c-176.116%2c274.042C-125.391%2c310.791%2c-62.637%2c327.376%2c0%2c327.698' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1076.857C1561.45 1076.8490000000002 1695.449 1181.979 1795.17 1112.655 1895.7640000000001 1042.723 1843.74 878.8820000000001 1888.712 764.92 1930.269 659.61 2061.433 585.002 2047.741 472.62 2034.077 360.467 1898.406 312.272 1823.282 227.88400000000001 1749.469 144.969 1715.809 14.606999999999971 1610.029-19.06600000000003 1504.147-52.77200000000005 1401.509 35.539999999999964 1292.907 59.048 1173.221 84.95499999999998 1026.107 39.76999999999998 939.279 126.12299999999999 852.771 212.15800000000002 874.962 356.293 871.4 478.248 868.192 588.096 884.633 693.467 919.667 797.6279999999999 958.25 912.3399999999999 978.1569999999999 1055.476 1084.799 1112.704 1191.824 1170.138 1318.538 1076.865 1440 1076.857' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.fondo2 {
  background-image: url("./assets/image/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 20rem;
}